#matches {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #matches td, #matches th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #matches tr:nth-child(even){background-color: #f2f2f2;}
  
  #matches tr:hover {background-color: #ddd;}
  
  #matches th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .button {
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
  }