<div class="container">
  <h2>Search your product</h2>
  <input type="text" placeholder="Search.." [(ngModel)]="keywords">
  <button type="button" (click)="doSearch()">Search</button>
  <br>
  <br>
  <table id="matches" *ngIf="matches.length > 0">
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
    <tr *ngFor="let m of matches">
      <td>{{m.Source}}</td>
      <td>{{m.Title}}</td>
      <td>$ {{m.Price}}</td>
      <td><a href="{{m.Link}}"><button class="button">detail</button></a></td>
    </tr>
  </table>
  <h3 *ngIf="matches.length == 0 && !searching">Enter your search</h3>
  <h3 *ngIf="matches.length == 0 && searching">No results for {{keywords}}</h3>
</div>